@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  
   
}
html, body { height: 100%;

}
.main-box {

margin: 50px 20px;
border-radius: 10px;
overflow: hidden;

}
.box {
    font-family: Lexend Deca, sans-serif;
    padding: 35px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
    
}
.box h1 {
    margin: 24px 0px;
    font-family:Big Shoulders Display,sans-serif ;
}
.box p {
    opacity: .7;
    font-size: 11px;
}
.sedans {
    background-color:hsl(31, 77%, 52%) ;
    color: #fff;
}
.suvs {
    background-color:hsl(184, 100%, 22%);
    color: #fff;
}
.luxury {
    background-color: hsl(179, 100%, 13%);
    color: #fff;
    }

.btn {
    background-color: #fff;
    padding: 13px 30px;
    margin: 20px 0px;
    display: inline-block;
    border-radius: 40px;
    font-size: 14px;
    border: 1px solid white;    
    margin: 20px 0px 15px 0px;
}
.btn1 {
color:hsl(31, 77%, 52%);


}
.btn1:hover {
    background-color:hsl(31, 77%, 52%) ;
   
    color: white;
  
}
.btn2  {
    color: hsl(184, 100%, 22%);
}
.btn2:hover {
    background-color:hsl(184, 100%, 22%); 
    border: 1px solid white;
    color: white;
}
.btn3 { 
    color: hsl(179, 100%, 13%);
}
.btn3:hover {
    background-color: hsl(179, 100%, 13%);
    border: 1px solid white;
    color: white;
}
@media screen and (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main-box {
        display: flex;
        max-width: 760px;
        
    }
}